{
    "Servers": {
        "MCP-Auto": {
            "type": "stdio",
            "command": "node",
            "args": ["/dist/index.js",
            "--mcpServerConfigDir",  "your mcp_server_config dir",
            "--serverPath", "~/MCP-Auto",
            "--pythonPath", "your python path"
            ]
        }
    }
}