.mcp-auto_env
.venv

MCP-Auto-Server/dist
MCP-Auto-Server/node_modules

mcp-auto-agent/__pycache__
get_data/__pycache__
claude_code/__pycache__

mcp_server_config
server_config
mcp_server

data/**/*.md
data/**/*.json
data/**/*.jsonl

*.zip
*.rar

log_file/mcp_analysis_*.csv

.traces

claude_code/.claude
claude_code/.mcp.json
CLAUDE.md