.mcp-auto_env
.venv

MCP-Auto-Server/dist
MCP-Auto-Server/node_modules

mcp-auto/__pycache__
get_data/__pycache__

mcp_server_config
mcp_server

data/**/*.md
data/**/*.json
data/**/*.jsonl

*.zip
*.rar

log_file/mcp_analysis_*.csv